@supports not -moz-bool-pref("browser.proton.enabled") {
} /** END not Proton **/

/** body for Options in Tab **/
/*
body {
  padding: 28px 40px;
  width: 800px;
  background-color: var(--in-content-box-background);
  color: var(--in-content-page-color);
}
*/

/** body for Options inline **/
body {
  padding-top: 1.5em;
  background-color: var(--in-content-box-background);
  color: var(--in-content-page-color);
}

button {
  margin-top: 1ex;
  margin-bottom: 1ex;
  margin-left: 6px;
  min-width: 7em;
  text-align: center;
  float: right;
}

.color-button {
  min-width: 0px;
  margin: 1px;
  padding-inline: 0px;
  position: relative;
  top: 3px;
}
.color-button-inline {
  position: relative;
  top: 4px;
}

button.color-button > hbox.box-inherit.button-box {
  display: none;
}

input[type="text"] {
  margin-left: 1em !important;
}

input[type="checkbox"]:not(.position-null),
input[type="radio"]:not(.position-null) {
  position: relative;
}
input[type="radio"]:not(.position-null) {
  top: 4px;
  left: 5px;
}
input[type="checkbox"]:not(.position-null) {
  top: 5px;
  left: 7px;
}
input[type="checkbox"].position-null {
  margin-inline: 0;
}

/* tweak the buggy background for select options */
/* the "option" itself doesn't work, so the whole select hover has to be tweaked */
@media (prefers-color-scheme: dark) {
  select:hover,
  option:hover {
    background-color: rgb(65, 95, 126) !important;
  }
}
@media (prefers-color-scheme: light) {
  select:hover,
  option:hover {
    background-color: rgba(140, 197, 255, 0.6) !important;
  }
}

.subcategory_infotext {
  margin-bottom: 0.6em;
}

.warning-thindouble {
  margin: 0.5em 0;
  background: #ffe900;
  border: 1px solid #F2D00F;
  border-radius: 2px;
  padding: 0.5em 1em;
  font-size: 90%;
}

.hidden {
  display: none;
}

.indent {
  margin-left: 30px;
}

.indent > label:first-child {
  margin-left: 6px;
}

.center {
  text-align: center;
}

.pickercolumn {
  width: 7em;
}
.modecolumn {
  padding-left: 2em;
}
.labelcolumn {
}

.flexbox {
  display: flex;
}

#levelcolorsbox, 
#dm_levelcolorsbox {
  margin-right: 2em;
}

#previewbox, 
#dm_previewbox {
  width: 50%;
}

#previewboxcontent {
  height: 19em;
  font-family: monospace;
  overflow: auto;
  padding: 5px;
  border: 1px solid grey;
  overflow: hidden;
}

#dm_previewboxcontent {
  height: 19em;
  font-family: monospace;
  overflow: auto;
  padding: 5px;
  border: 1px solid grey;
  overflow: hidden;
}

#blocklevel1, 
#dm_blocklevel1 {
  margin-block: 1ex; padding: 0.4ex 1ex !important;
/*  padding: 0.5em 1em 0.5em 1em; */
}

#blocklevel2, #blocklevel3, #blocklevel4, #blocklevel5, 
#dm_blocklevel2, #dm_blocklevel3, #dm_blocklevel4, #dm_blocklevel5 {
  margin-block: 1ex; padding: 0.4ex 1ex !important;
/*  padding: 0.5em 1em 0.5em 1em; */
/*  margin: 0.5em 0em 0em 0em; */
}

#qchar1, #qchar2, #qchar3, #qchar4, #qchar5, 
#dm_qchar1, #dm_qchar2, #dm_qchar3, #dm_qchar4, #dm_qchar5 {
  display: none;
}
